.about-me-intro{
    background-color: #7E7472
}
.about-me-intro p{
    color: black;
    font-family: cursive;
    
}
.about-me-intro h4{
    color: black;
    font-family: cursive;
}
.about-me-info-text{
    background-color: #A29C9B
}
.about-me-name {
    text-align: center;
}
.about-me-porttrait {
    padding-left: 35px;
}
.container {
    padding-top: 30px;
}
.row p {
    padding-left: 12px;
}
.row h2, h3, h4 {
    padding-left: 12px;
}
.horseCarousel  {
    margin: auto;
    max-width: 465px;
}
h5 {
    color: white;
}
.carousel-item p {
    color: white;
    font-size: large;
    font-weight: bold;
}
 