img {
    max-width: 100%;
}

.about-me-intro{
    background-color: #7E7472
}
.about-me-intro p{
    color: white;
}
.about-me-intro h4{
    color: white;
}

.about_me_something{
    background-color: #A29C9B
}