.survey {
    align-items: center;
    justify-content: center; 
    width: fit-content;
    background-color: #f1ece9;
    margin: auto;
    color: black;
    border-radius: 2%; 
}
.wrapper-text {
    text-align: center;
}
