.container {
    padding-top: 20px;
    align-items: center;
    justify-content: center; 
}
.wrapper-text {
    text-align: center;
    font-size: larger;
}
img {
    padding-bottom: 20px;
}

.triggerfish-nasty-character {
    width: 80%;
    padding-left: 190px;
    font-size: large;
}
.triggerfish-areatext-info-1 {
    width: 80%;
    padding-left: 190px;
    font-size: large;
}
.triggerfish-areatext-info-2 {
    width: 80%;
    padding-left: 190px;
    font-size: large;
}